<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{{page.description}}">
    <meta name="author" content="{{site.name}}">
    <meta name="dcterms.rightsHolder" content="{{site.name}}" />
    <meta name="dcterms.dateCopyrighted" content="{{site.time | date: '%Y'}} ">
   <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/favicon.ico">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/site.css">
    <title>{% if page.title %}{{ page.title }}{% else %}Simple Order System{% endif %}</title>
    
  </head> 
<body>
 <header class="site-header">
    <nav>
    <div class="sticky-nav">
    <div class="container-nav">
       <div class="nav-container">
         <div class="navbar-brand"> <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/pro-lab-prints-logo14.png" alt="ProLabPrints"></a> </div>
         <div class="navbar-nav nav-mobile">
            <a class="nav-item nav-link btn btn-nav" href="{{site.baseurl}}/">Home</a>
            <a class="nav-item nav-link btn btn-nav" href="{{site.baseurl}}/api-endpoints/">API endpoints</a>
            
        </div>
         <div class="navbar-nav nav-main">
            <a class="nav-item nav-link{% if page.active %} active{% endif %}" href="{{site.baseurl}}/">Home</a>
            <a class="nav-item nav-link{% if page.url == '{{site.baseurl}}/api-endpoints/' %} active{% endif %}>" href="{{site.baseurl}}/api-endpoints/">API endpoints</a>
         </div>
      </div>  
      </div>
      </div>
</nav>
</header>